# Core
pandas
numpy

# Web app
streamlit

# Charts
plotly
kaleido
matplotlib
seaborn

# Data export
reportlab
openpyxl  # Excel support

# Optional (performance & utils)
scikit-learn  # if you add ML later

